<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	
	{{>header}}
		<h1>{{username}}님 , 다음에 또만나요  </h1>
	{{>footer}}
	
</body>
</html>